<%- include('../partials/header.ejs') %>
<div class="container">
  <div>
    <h1 class="text-center">Blog</h1>
    
  </div>
  <% if (blogs.length > 0) { %>
  
<section class="py-3 py-md-5 py-xl-8">
 

  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0">
      <% blogs.forEach((blog, i) => { %>
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-0">
            <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale bsb-hover-scale-up" width="65%" height="150px" loading="lazy" src="/<%= blog.image %>">
              </a>
             
            </figure>
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
              
                <h2 class="card-title entry-title h4 mb-0">
                  <a class="link-dark text-decoration-none" href="#!"><%= blog.title %></a>
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">
                <%= blog.description %>
              </p>
            </div>
            <div class="card-footer border border-top-0 bg-light p-4">
              <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                <li>
                  <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                      <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                      <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                    <span class="ms-2 fs-7"><%= blog.date %></span>
                  </a>
                </li>
                <li>
                  <span class="px-3">&bull;</span>
                </li>
                <li>
                  <a class="link-secondary text-decoration-none d-flex align-items-center" href="#!">
                    
                    <i class="bi bi-person"></i>
                    <span class="ms-2 fs-7"><%= blog.username %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <% }) %>
    </div>
  </div>
</section>
  <% } else { %>
    <h2 class="text-center">Blog Not found</h2>
  <% } %>
</div>

<%- include('../partials/footer.ejs') %>
